.roja{
	background-color: red;
	position: static;
	width: 500px;
	height: 500px;
}
.morada{
	background-color: purple;
	position: absolute;
	height: 250px;
	width: 250px;
	top:125px;
	left:125px;
}
.amarilla{
	background-color: yellow;
	position: relative;
	top: 0;
	left: 0;
	width: 125px;
	height: 125px;
}